{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		{{ page.content }}

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3">
				{% for child in collection %}
			        {% include 'partials/development_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}
			</div>
		</div>
	{% endblock %}

{% endembed %}


