<div class="list-item">
    <div class="list-dev-header">
            <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
    </div>
    <div class="list-dev-padding">
        {% if page.header.except %}
            <p>{{ page.header.except }}</p>
        {% endif %}
    </div>
</div>
